<!DOCTYPE html>
<html ng-app="BehaviorTrackerApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Behavior Tracker</title>
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="d3/d3.min.js"></script>
    <script type="text/javascript" src="nvd3/build/nv.d3.min.js"></script>
    <script src="angular-nvd3/dist/angular-nvd3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="nvd3/build/nv.d3.css">
    <script type="text/javascript" src="handlebars/handlebars.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/authentication_controller.js"></script>
    <script type="text/javascript" src="js/students_controller.js"></script>
    <script type="text/javascript" src="js/classes_controller.js"></script>
    <script type="text/javascript" src="js/login_controller.js"></script>
    <script type="text/javascript" src="js/note_controller.js"></script>
    <script type="text/javascript" src="js/feed_controller.js"></script>
    <script type="text/javascript" src="js/review_controller.js"></script>
  </head>
  <body>
    <div ng-controller="AuthenticationController as authenticator">
      <div ng-view></div>
    </div>
  </body>
</html>