<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Behavior Tracker</title>
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="handlebars/handlebars.min.js"></script>
  </head>
  <body>
    <div class="ui tabular labeled icon menu">
      <a class="item">
        <i class="arrow left icon"></i>
        Back
      </a>
      <a class="item active">
        <i class="users icon"></i>
        Class
      </a>
      <a class="item">
        <i class="feed icon"></i>
        Feed
      </a>
    </div><!-- .ui.menu -->

    <div class="ui three stackable cards">
      <div class="card">
        <div class="content">
          <div class="left floated header">
            Nathan Riemer
          </div>
          <div class="three right floated buttons">
            <button class="ui labeled icon green button">
              <i class="smile icon"></i>
              Positive
            </button>
            <button class="ui labeled icon red button">
              <i class="frown icon"></i>
              Negative
            </button>
            <button class="ui labeled icon gray button">
              <i class="write icon"></i>
              Note
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="left floated header">
            Nathan Riemer
          </div>
          <div class="three right floated buttons">
            <button class="ui labeled icon green button">
              <i class="smile icon"></i>
              Positive
            </button>
            <button class="ui labeled icon red button">
              <i class="frown icon"></i>
              Negative
            </button>
            <button class="ui labeled icon gray button">
              <i class="write icon"></i>
              Note
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <div class="left floated header">
            Nathan Riemer
          </div>
          <div class="three right floated buttons">
            <button class="ui labeled icon green button">
              <i class="smile icon"></i>
              Positive
            </button>
            <button class="ui labeled icon red button">
              <i class="frown icon"></i>
              Negative
            </button>
            <button class="ui labeled icon gray button">
              <i class="write icon"></i>
              Note
            </button>
      </div>
    </div>

  </body>
</html>